/* Casafree.com CSS Document */
/*
Css style for Xoops theme, design by Casafree.com 
License : http://creativecommons.org/licenses/by/3.0/ 
You are free:
    * to Share — to copy, distribute and transmit the work
    * to Remix — to adapt the work
Under the following conditions:
    * Attribution. You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).
	* You must link back to : Casafree.com or insideCasafree.com if you are using this file.
*/

/* This CSS file is called when Xoops right blocks are not present */

#right {
	width: 160px;
	float: left;
	height: 42px;
	margin-top: -15px;
	background-color: #622041;
	border: 1px solid #FFFFFF;
	margin-left: 4px;
	background-image: url(images/fond1.gif);
	background-repeat: no-repeat;
		position: absolute;
	top: 10px;
	left: 172px;
}
#contenu {
	color: #666666;
	padding-left: 166px;
}